{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter{% endblock %}

{% block body %}
    <div>Ajouter un produit</div>
    {{ form_start(produitForm) }}
    {{ form_widget(produitForm) }}
    <button>Ajouter</button>
    {{ form_end(produitForm) }}
{% endblock %}