{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Editer{% endblock %}

{% block body %}
    <h2>Modifier un produit</h2>
    {{ form_start(produitForm) }}
    {{ form_widget(produitForm) }}
    <button class="btn btn-dark">Modifier</button>
    {{ form_end(produitForm) }}

{% endblock %}